* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b8d8be;
}

.heading {
    text-align: center;
    display: block;
}

.heading>logo {
    width: 100%;
}
.link {
    text-align: center;
}

img {
    max-width: 10%;
    height: auto;
    align-items: center;
}
#map{
    height: 400px;
    width: 100%;
}