A:link {
    color: gray
}

A:link {
    text-decoration: none;
}

A:visited,
A:active {
    color: green
}

A:visited,
A:active {
    text-decoration: none;
}

A:hover {
    text-decoration: overline;
    color: teal
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b8d8be;
}

.heading {
    padding-top: 10px;
    margin: 30px 20px;
    text-align: center;
    /* display: block; */
}

.logo {
    width: 100%;
}

.linkLeft {
    font-size: 50px;
    text-align: left;
    font-family: 'Euphoria Script', cursive;
}
.linkRight {
    font-size: 50px;
    text-align: right;
    font-family: 'Euphoria Script', cursive;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Euphoria Script', cursive;
}

img {
    max-width: 150px;
    height: auto;
    align-items: center;
}

#map {
    height: 400px;
    width: 100%;
}